<div class="timeline" >

<div class="contents row" >
  <% @tweets.each do |tweet| %>
    <% if tweet.used_time.to_i >= tweet.available_time.to_i %>
      <div class="card" style= "background-color: #ccffff";>
    <% else %>
      <div class="card" style= "background-color: yellow";>
    <% end %>
     <div class="activity_info">
      <div>
        <%= image_tag(tweet.user.profile_image, :size =>'50x50') %>
      </div>
      <div>
        <h3><span class="name"><%= link_to "#{tweet.user.name}", "/users/#{tweet.user.id}" %></span></a></h3>
      </div>
      <div class="clearfix"></div>
      <div class= mypage_font>
        <h4>アクティビティ</div> <span class="activity"><%= tweet.activity.value %></span></h4>
      <div class= mypage_font>
        <h4>予想時間</div><span class="available_time"><%= tweet.available_time %>h</span></h4>
      <div class= mypage_font>
        <h4>実働時間</div> <span class="used_time"><%= tweet.used_time %>h</span></h4>
        <% time = tweet.used_time - tweet.available_time %>
      <div class= mypage_font>
        <h4>予実の差</div> <span class="time"><%= time %>h</span></h4>
      <div class= mypage_font>
        <h4>コメント・ノウハウ</div><span class="comment"><%= tweet.comment %></span></h4>
      <h4><%= tweet.created_at %></h4>
      </div>
    <div class="card-image clearfix">
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <%= link_to "/tweets/#{tweet.id}/edit" do %>
      <div class="editbox">
      <%= image_tag '/assets/edit.jpg' %>
    <% end %>
    </div>
    <div class= "dustbox">
    <%= link_to "/tweets/#{tweet.id}", method: :delete do %>
      <%= image_tag '/assets/dustbox.jpg'%>
    <% end %>
    </div>
    </div>
    <% end %>
    </div>
    </div>
    <% end %>
    <%= paginate(@tweets) %>
</div>
</div>
