<div class=mypage>
 <div class="profile">
  <div class="profile_img">
  <%= image_tag(@user.profile_image, :size =>'100x100') %>
  </div>
  <div>
  ユーザーネーム<h3><span class="name"><%= @user.name %></span></h3>
  </div>
  アクティビティ<h3><span class="activity"><%= @user.activity.value %></span></h3>
  <div>
  <div>
  目標
  <h3><span class="goal"><%= @user.goal %></span></h3>
  </div>
  <div>
  役職・肩書き
  <h3><span class="position"><%= @user.position %></span></h3>
  </div>
  <div>
  自己紹介<br>
  <span class="position"><%= @user.s_introducution %></span><br>
  </div>
  <div>
   <a class="edit button" href="/profile/update/<%= @user.id %>">プロフィールを編集する</a>
   </div>
   </div>
  </div>
  <div>
  <%= high_chart("my_chart", @chart) %>
  </div>
  <div>
  <%= high_chart("my_chart2", @chart2) %>
  </div>
 <div class="contents row">
  <h2 class= "mgn10" <%= @user.name %>さんの投稿一覧</h2>
  <% @tweets.each do |tweet| %>
  <div class="card">
  <div>
  <%= image_tag(tweet.user.profile_image, :size =>'50x50') %>
  </div>
  <h3><%= tweet.user.name %></h3>
  <h4>アクティビティ: <%= tweet.user.activity.value %><br></h4>
  <h4>予想時間: <%= tweet.available_time %>h<br></h4>
  <h4>実働時間: <%= tweet.used_time %>h<br></h4>
  <% time = tweet.available_time - tweet.used_time%>
  <h4>予実の差: <%= time %>h<br></h4>
  <h4>コメント: <%= tweet.comment %><br></h4>
  <h5><%= tweet.created_at %></h5>
  <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
  <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
  </div>
  <% end %>
 </div>
<%= paginate(@tweets) %>
 <div class="other_users row">
 <h3>同じアクティビティを持つユーザー</h3>
 <% @other_users.each do |other_user| %>
 <% if other_user!= current_user %>
 <div class = "card img">
 <%= image_tag(other_user.profile_image, :size =>'50x50') %>
 <p><%= link_to "#{other_user.name}", "/users/#{other_user.id}" %></p>
 </div>
 <% else %>
 <% end %>
 <% end %>
</div>
